.h1-ubi {
  text-align: center;
  color: $font-color;
  margin-top: 20px;
  font-family: $title-font;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  text-align: center;

  .map iframe {
    width: 100%;
    height: 500px;
  }
}
