footer {
  background-color: rgba(246, 147, 136, 0.877);
  color: #fff;
  text-align: center;
  padding: 10px;
  border-top: 2px solid rgb(245, 102, 66);

  .copyright {
    font-size: 20px;
    margin: 0;
    text-decoration: none;
    color: rgb(247, 114, 99);
    font-family: $title-font;

    a {
      text-decoration: none;
      color: rgb(245, 102, 66);
      font-weight: bold;
      transition: color 0.3s;

      &:hover {
        color: #fff;
        transition: color 0.7s;
      }
    }
  }

  .redes-sociales {
    margin-top: 10px;

    .social-icons {
      list-style-type: none;
      padding: 0;
      transition: all 0.3s ease;

      li {
        display: inline;
        margin-right: 10px;
      }
    }
  }
  .social {
    a {
      &:hover {
        transform: scale(1.4);
      }
    }
  }
}
