main {
  flex: 1;

  .banner {
    text-align: center;
    padding: 35px 0;
    color: $font-color;

    .banner-tittle {
      font-size: 36px;
      color: $font-color;
      font-family: $title-font;

      .banner-p {
        font-size: 18px;
        color: $font-color;
      }
    }
  }

  .imagenes {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;

    .imagen {
      border: 2px solid $borderbox-color;
      max-width: 300px;
      border-radius: 10px;
      transition: 1.2s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
  .articles-container {
    margin-bottom: 40px;

    .articles {
      display: flex;
      justify-content: space-around;
      padding: 40px;
      background-color: $background-color;
      border: 2px solid $borderbox-color;

      .article-info,
      .article-ayuda,
      .article-redes {
        flex: 1;
        padding: 20px;
        background-color: $background-color;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        margin: 10px;

        .titulo-article {
          font-size: 24px;
          color: $font-color;
          font-family: $title-font;
        }
        .link-fo-footer a {
          text-decoration: none;
          color: $font-color;
        }
      }
    }
  }
}
