@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

$title-font: 'Abgdalumo , sans-serif';

$background-color:  rgba(246, 147, 136, 0.772);
$borderbox-color:  rgb(245, 102, 66);